/* post.css/college is started from here  */

.background-container {
  width: 100%;
  height: 281px;
  background-color: rgba(188, 221, 217, 0.7);
  display: flex;
  justify-content: center;
}

.college-image {
  width: 50%;
  height: 333px;
  /* background-color: red; */
  margin-top: 90px;
}

.college-rate-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 221px;
  background-color: rgb(255, 255, 255);
  margin: 0px 0px 18px 0px;
}

.rate-name {
  font-size: 24px;
  font-weight: 600;
  color: rgb(5, 5, 5);
  /* background-color: blue; */
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.college-rate {
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.college-contetn {
  border-radius: 16px;
  padding: 34px 194px;
  margin: 91px;
  color: rgb(255, 255, 255);
  background-color: rgb(197, 38, 197);
}

.college-name h1 {
  font-weight: 600;
  font-family: 'Mukta', sans-serif;
  font-size: 33px;
}

.rate-2 {
  font-size: 18px;
  padding: 0px 45px 0px 0px;
}

.review-number {
  font-size: 18px;
}

.college-query {
  width: 100%;
  height: 500px;
  background-color: tomato;
}

.rate-btn {
  padding-left: 34px;
}

.img-college {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

.share-post {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 9px 0px 0px 0px;
  align-items: center;
  border: 2px solid #ff2f2f;
  width: fit-content;
  border-radius: 12px;
}

.share-post a {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  text-decoration-line: none;
  height: 32px;
}

.fa-instagram:before {
  color: #f51daa;
}

.fa-google-plus:before {
  color: red;
}

.fa-reddit:before {
  color: #ff6700;
}

.fa-share-alt:before {
  color: black;
}

.fa-whatsapp:before {
  color: green;
}

.query-name {
  width: 100%;
  display: flex;
  height: 59px;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  padding: 43px 0px;
}

.query-name h2 {
  font-size: 43px;
}

.college-query {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
  padding-top: 15px;
  flex-direction: column;
  align-items: center;
  border-radius: 59px 57px 0px 0px;
  height: 100%;
}

.post-query {
  width: 64%;
  height: 100%;
  background-color: blue;
  border-radius: 16px;
  margin-bottom: 18px;
}

.post-query-show {
  width: 80%;
  height: 100%;
  background-color: orange;
  border-radius: 15px 16px 16px 16px;
  margin-bottom: 18px;
  box-shadow: 0px 0px 34px 15px rgb(0 0 0 / 20%);
  transition: 0.5s;
  cursor: pointer;
}

.post-query-show:hover {
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 20%);
  transition: 0.5s;
}

input[type=text] {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
}

.form {
  padding: 23px 28px;
  font-size: 22px;
  line-height: 38px;
}

.text-input {
  display: flex;
  flex-direction: column;
}

textarea {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
}

::placeholder {
  color: #696161f5;
}

.submit {
  width: 100%;
  height: 37px;
  border-radius: 11px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  background: rgb(15, 238, 15);
  margin-top: 23px;
  border: none;
}

.submit:hover {
  background-color: rgb(11, 228, 11);
  box-shadow: 0px 0px 2px 5px rgba(209, 209, 223, 0.3);
}

.queries {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: orange; */
  border-radius: 15px;
}

.profile-query {
  width: 140px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-query img {
  width: 100%;
  height: 116px;
  border-radius: 100px;
}

.query-show {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px 44px;
  margin-top: 34px;
  margin-bottom: 23px;
  color: white;
}

.query-explain {
  line-height: 17px;
  font-size: 14px;
  font-weight: 100;
}

.query-title h2 {
  padding-bottom: 9px;
}

.query-title-explain {
  margin-top: 4px;
  margin-bottom: 5px;
}

.query {
  font-size: 49px;
  font-weight: 900;
  padding: 43px 0px;
}

.know-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 57px;
  background: red;
}

.know-more h4 {
  font-size: 25px;
}

/* Responsive is started from here  */

@media screen and (max-width: 780px) {
  .queries {
    flex-direction: column;
  }
  .query {
    font-size: 29px;
  }
  .query-title h2 {
    line-height: 24px;
  }
  .query-show {
    width: 86%;
  }
  .query-name h2 {
    font-size: 29px;
    font-weight: 900;
  }
  .college-contetn {
    margin: 12px;
  }
  .post-query {
    width: 96%;
  }
  .profile-query img {
    width: 100px;
    height: 100px;
  }
  .profile-query {
    padding-top: 12px;
  }
  .college-query {
    border-radius: 32px 37px 0px 0px;
  }
  .college-image {
    width: 90%;
  }
  ::placeholder {
    font-size: 12px;
  }
  .college-name h1 {
    font-size: 24px;
  }
  .college-contetn{
    padding: 18px;
  }
}

@media screen and (max-width: 250px) {
  .college-name h1 {
    font-size: 23px;
  }
  .rate-2 {
    font-size: 13px;
    padding: 0px 22px 0px 0px;
  }
  .share-post a {
    width: 21px;
  }
  .college-rate-name {
    height: 91px;
  }
  .college-image {
    height: 100%;
  }
  .college-contetn {
    margin: 4px;
  }
  .query-name h2 {
    font-size: 22px;
  }
  .form {
    font-size: 18px;
  }
  .query {
    font-size: 24px;
  }
}

/* post.css/college is ending here  */